body {
  background-color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #111;
}

.gks-app-header {
  background-color: #fff;
  border-bottom: 1px solid #546e7a;
}

.gks-page-header {
  padding: .5rem 1rem;
  color: #546e7a;
  background-color: #fff;
}

.gks-btn {
  padding: 0 20px 1px;
  border-radius: 2px;
  line-height: 31px;
  border: 1px solid transparent;
}

.gks-btn-important {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}
.gks-btn-important:hover {
  color: #fff;
}
.gks-bg-logo {
  background-color: #ff9800; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}

.gks-bg-menu {
  background-color: #546e7a; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}
.gks-bg-light {
  background-color: #cfd8dc;
}
.gks-dropdown-right {
  left: auto;
  right: 0;
}

.gks-btn-logo {
  background-color: #ff9800; /*kahrer logo color */
  color: #fff; /*kahrer logo color */
  border-color: #ff9800;
  /*background-color: #ff0015;  red */
}

a.nav-link {
  color: #546e7a;
  text-decoration: none;
}


