.gks-bg-logo {
  background-color: #ff9800; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}

.gks-bg-light {
  background-color: #e3f2fd;
}
.gks-dropdown-right {
  left: auto;
  right: 0;
}
