.gks-bg-logo {
  background-color: #ff9800; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}

.gks-bg-menu {
  background-color: #546e7a; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}
.gks-bg-light {
  background-color: #cfd8dc;
}
.gks-dropdown-right {
  left: auto;
  right: 0;
}

.gks-navbar-app {
  border-bottom: 1px solid #546e7a;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
}

a.nav-link:hover {
  color: #fff;
  background-color: #546e7a;
  text-decoration: none;
}

.gks-page-header {
  padding: .5rem 1rem;
  color: #ff9800;
  background-color: #cfd8dc;
}