{{define "t_content"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h1 class="block-title text-primary">{{.Messages.GetString "form.page1.header"}}</h1>
    </div>
    <div class="block-content block-content-full font-size-sm">
        <form action="page1" name="formpage1" method="POST">
            <div class="form-inline">
                <div class="input-group font-size-sm">
                    <div class="input-group-prepend font-size-sm">
                        <span class="input-group-text font-size-sm bg-grey-light">
                            {{.Messages.GetString "form.page1.label.contacttype"}}
                        </span>
                    </div>
                    <select name="page1FilterContactType" class="form-control font-size-sm bg-info-light"
                        id="page1FilterContactType" value="" onchange="formpage1.submit();">
                        <option value="0">{{ ( index .ContactTypes 0).Desc }}</option>
                        <option value="1">{{ ( index .ContactTypes 1).Desc }}</option>
                        <option value="2">{{ ( index .ContactTypes 2).Desc }}</option>
                        <option value="3">{{ ( index .ContactTypes 3).Desc }}</option>
                        <option value="4">{{ ( index .ContactTypes 4).Desc }}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="block block-rounded">
    <div class="block-content block-content-full font-size-sm">
        <div>{{.Messages.GetString "form.page1.content"}}</div>
        <div>maxi und franzi</div>
    </div>
</div>
<!-- Page JS Code -->
<script>
    jQuery(function () { gkwebapp_prepareSelect("page1FilterContactType", "{{.FilterContactType}}"); });
</script>

{{end}}