{{define "t_content"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h1 class="block-title text-primary">Verbrauchswerte je Kunde und Verbrauchsgruppe</h1>
    </div>
    <div class="block-content block-content-full font-size-sm">
        <form action="pageconsumptiongroupmeters" name="formconsumptionmonth" method="POST">
            <input type="hidden" name="consumptionmonthFilterEnergyType" value="{{.FilterEnergyType}}"/>
            <div class="form-inline">
                <div class="input-group font-size-sm">
                    <div class="input-group-prepend font-size-sm">
                        <span class="input-group-text font-size-sm bg-grey-light">
                            Kunde
                        </span>
                    </div>
                    <select name="consumptionmonthFilterCustomer" class="form-control font-size-sm bg-info-light"
                        id="consumptionmonthFilterCustomer" onchange="formconsumptionmonth.submit()">
                        {{range .CustomerOptions}}
                        <option value="{{.Value}}">{{.Value}}</option>
                       {{end}}
                    </select>
                </div>
                <div>&nbsp;&nbsp;&nbsp;</div>
                <div class="input-group font-size-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-size-sm bg-grey-light">
                            Jahr
                        </span>
                    </div>
                    <select name="consumptionmonthFilterYear" class="form-control font-size-sm bg-info-light"
                        id="consumptionmonthFilterYear" onchange="formconsumptionmonth.submit()">
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="block block-rounded">
    <div class="block-content block-content-full font-size-sm">
        <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
            {{$EnergyType := .FilterEnergyType}}
            {{range .EnergyTypes}}
                {{if gt .Val "0"}}
                    {{if eq .Val $EnergyType}}
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-month-{{$EnergyType}}">{{.DescUnit}}</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-month-{{$EnergyType}}" onclick="formconsumptionmonth.consumptionmonthFilterEnergyType.value='{{.Val}}';formconsumptionmonth.submit()">{{.DescUnit}}</a>
                        </li>
                    {{end}}
                {{end}}
            {{end}}
        </ul>
        <div class="block-content tab-content">
            <div class="tab-pane active" id="tab-month-{{.FilterEnergyType}}" role="tabpanel">
                <table class="table table-sm table-bordered table-striped js-table-sections" id="consumptionmonthTable">
                    <thead>
                        <tr>
                            <th scopy="col" style="width: 30px;">&nbsp;</th>
                            <th scope="col" class="w-10">Verbrauchsgruppe</th>
                             {{range .TableHeaders}}
                            <th scope="col" class="w-10 text-right">{{.}}</th>
                            {{end}}
                        </tr>
                    </thead>
                    {{$tbodyOpen := ""}}
                    {{$tbodyClose := ""}}
                    {{range $i, $elem := .ConsumptionGroupMeters}}
                        {{if $elem.IsGroupSum}}
                            {{if ne $tbodyOpen $tbodyClose}}
                            {{$tbodyClose := $tbodyOpen}}
                                <tr><td>&nbsp;</td></tr>
                                </tbody>
                            {{end}}
                            <tbody class="js-table-sections-header">
                                <tr>
                                    <td class="text-center font-size-sm">
                                        <i class="fa fa-angle-right text-muted"></i>
                                    </td>
                                    <td class="text-nowrap">{{.GroupName}}</td>
                                    {{range .Values}}
                                        {{if .Sum}}
                                            <td class="text-right gk-format-curr font-w600">{{.ValueF}}</td>
                                        {{else}}
                                        <td class="text-right gk-format-curr">{{.ValueF}}</td>
                                        {{end}}
                                    {{end}}
                                </tr>
                            </tbody>
                            {{$tbodyOpen = .GroupName}}
                            <tbody>
                        {{else}}
                            {{$textColor := "text-info"}}
                            {{$icon := "fa-plus-circle"}}
                            {{if lt .Factor 0}}
                            {{$textColor = "text-danger"}}
                            {{$icon = "fa-minus-circle"}}
                        {{end}}
                            <tr>
                                <td class="text-center font-size-sm">
                                    &nbsp;
                                </td>
                                <td class="text-nowrap {{$textColor}}"><i id="signicon" class="fa {{$icon}}"></i> {{.ZNR}} {{.EnergyMeterName}}</td>
                                {{range .Values}}
                                    {{if .Sum}}
                                        <td class="text-right gk-format-curr font-w600">{{.ValueF}}</td>
                                    {{else}}
                                    <td class="text-right gk-format-curr">{{.ValueF}}</td>
                                    {{end}}
                                {{end}}
                            </tr>
                        {{end}}
                    {{end}}
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(function () { bepo_prepareSelect("consumptionmonthFilterCustomer", "{{.FilterCustomerShort}}"); });
    jQuery(function () { bepo_prepareSelect("consumptionmonthFilterYear", "{{.FilterYear}}"); });
    jQuery(function () { bepo_format_all_curr(); });
</script>

{{end}}