body {
  background-color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #111;
}

.gks-app-header {
  background-color: #fff;
  border-bottom: 1px solid #546e7a;
}

.gks-page-header {
  padding: .5rem 1rem;
  color: #546e7a;
  background-color: #fff;
}

.gks-page-content {
  margin: 20px;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
}

.gks-btn {
  padding: 0 20px 1px;
  border-radius: 0px;
  line-height: 31px;
  border: 1px solid #546e7a;
  background-color: #cfd8dc;
  color: #546e7a;
  font-size: 0.813rem;
}

.gks-btn-important {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}
.gks-btn-important:hover {
  color: #fff;
}
.gks-bg-logo {
  background-color: #ff9800; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}

.gks-bg-menu {
  background-color: #546e7a; /*kahrer logo color */
  /*background-color: #ff0015;  red */
}
.gks-bg-light {
  background-color: #cfd8dc;
}
.gks-dropdown-right {
  left: auto;
  right: 0;
}

.gks-btn-logo {
  background-color: #ff9800; /*kahrer logo color */
  color: #fff; /*kahrer logo color */
  border-color: #ff9800;
  /*background-color: #ff0015;  red */
}

a.nav-link {
  color: #546e7a;
  text-decoration: none;
}

.gks-i-edit {
  width: 18px;
  height: 18px;
  color: #ff9800;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/assets/svg/edit.svg");
}

.gks-icon {
  width: 18px;
  height: 18px;
  color: #546e7a;
  margin-right: 5px;
}

.gks-icon:hover {
  color: #ff9800;
}

.gks-icon-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top:7px;
  padding-bottom: 4px;
  text-align: center;
  height: 31px;
  width: 100px;
}

.gks-icon-box a, .gks-icon-box a:hover {
  text-decoration: none;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.modal-content {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
  font-size: 0.813rem;
}
