{{define "t_{{EntityName}}"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<!-- Your Block -->
<div class="block block-rounded">
    <div class="block-header">
        <h3 class="block-title text-primary">{{.Messages.GetString "form.{{EntityName}}.list.header"}}</h3>
        <span class="float-right">
            <button type="button" class="btn btn-outline-primary gk-btn-new" data-toggle="modal"
                data-target="#{{EntityName}}EditModal">{{.Messages.GetString "form.{{EntityName}}.list.buttonnew"}}</button>
        </span>
    </div>
    <div class="block-content font-size-sm">
        <table class="table table-hover table-sm table-bordered table-striped gk-table js-dataTable-simple dataTable"
            id="{{EntityName}}Table">
            <thead>
                <tr>
                    <th scope="col">{{.Messages.GetString "form.{{EntityName}}.list.name"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{EntityName}}.list.short"}}</th>
                    <th scope="col" class="w-5">{{.Messages.GetString "form.all.label.actions"}}</th>
                </tr>
            </thead>
            <tbody>
                {{range .Entities}}
                <tr data-entityid="{{.ID}}">
                    <td data-gkvval="{{.Name}}">{{.Name}}</td>
                    <td data-gkvval="{{.Short}}">{{.Short}}</td>
                    <td class="">
                        {{if $userIsAdmin}}
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-sm btn-alt-primary gk-btn-edit" data-toggle="modal"
                                data-target="#{{EntityName}}EditModal">
                                <i class="fa fa-fw fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-alt-primary gk-btn-delete" data-toggle="modal"
                                data-target="#confirmDeleteModal">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                        {{else}}
                        <div class="d-none">
                            &nbsp;
                        </div>
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
<!-- END Your Block -->
<!-- Page Content -->
<script>
    //create GKTable without inline editing
    var userTable = new GKEntityTable("{{EntityName}}");
</script>

<!-- user-edit -->
{{template "t_{{EntityName}}-edit" .}}
{{template "t_confirm-delete" .}}

{{end}}