{{define "t_account-edit"}}
{{$userIsAdmin := .Admin}}
{{$headerEdit := .Messages.GetString "form.account.edit.header"}}
{{$headerNew := .Messages.GetString "form.account.edit.headernew"}}
<!-- Modal Dialog-->
<div class="modal fade" id="accountEditModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="accountEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary">
                    <h3 class="block-title" id="accountEditModalLabel">Modal Title</h3>
                    <div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="3000" data-tableId="accountTable">
                        <div class="toast-header">
                            <span class="gk-toast-text">Toast Text</span>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content font-size-sm">
                    <div class="form-group">
                        <label for="accountEditName"
                            class="col-form-label">{{.Messages.GetString "form.account.edit.label.name"}}</label>
                        <input name="accountEditName" class="form-control" id="accountEditName" value=""
                            autocomplete="new-password" />
                    </div>
                    <div class="form-group">
                        <label for="accountEditNr"
                            class="col-form-label">{{.Messages.GetString "form.account.edit.label.nr"}}</label>
                        <input name="accountEditNr" class="form-control" id="accountEditNr" value=""
                            autocomplete="new-password" />
                    </div>
                </div>
                <div class="block-content block-content-full text-right border-top">
                    <button type="button" class="btn btn-sm btn-light btn-back-app"
                        data-dismiss="modal">{{.Messages.GetString "form.all.btn.abort"}}</button>
                    <button type="button" class="btn btn-sm btn-primary btn-save-app">
                        <i class="fa fa-check mr-1"></i>{{.Messages.GetString "form.all.btn.save"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    activeGKEntityTable.prepareEditDialog = function () {
        if (activeGKEntityTable.isEditNew()) {
            $("#accountEditModalLabel").html("{{$headerNew}}");
            $("#accountEditNr").prop("disabled", false);
        }
        else {
            $("#accountEditModalLabel").html("{{$headerEdit}}")
            $("#accountEditNr").prop("disabled", true);
        }
        $("#accountEditName").val(activeGKEntityTable.editRowData[0]);
        $("accountEditNr").val(activeGKEntityTable.editRowData[1]);
    };
    activeGKEntityTable.prepareSendRowData = function () {
        var sendParams = [];
        sendParams["gkvObjId"] = activeGKEntityTable.getEditRowKey();
        sendParams["gkvName"] = $("#accountEditName").val();
        sendParams["gkvNr"] = $("#accountEditNr").val();

        return sendParams;
    };
    activeGKEntityTable.getRowDataFromEntity = function (data) {
        var rowData = [];
        rowData.push(data.EntityObject.Name, data.EntityObject.Nr)
        return rowData;
    };
    activeGKEntityTable.getRowDataHiddenFromEntity = function (data) {
        var rowDataHidden = [];
        rowDataHidden.push(data.EntityObject.Name, data.EntityObject.Nr);
        return rowDataHidden;
    };

</script>
{{end}}