{{define "t_entity-nav"}}
<ul class="nav-main-submenu">
    <!-- Entity Navigation -->
    <li class="nav-main-item">
    <a class="nav-main-link" href="/entitylistaccount">
        <span class="nav-main-link-name">{{.Messages.GetString "layout.page.nav.admin.account"}}</span>
    </a>
</li>
<li class="nav-main-item">
    <a class="nav-main-link" href="/entitylistcontact">
        <span class="nav-main-link-name">{{.Messages.GetString "layout.page.nav.admin.contact"}}</span>
    </a>
</li>
<li class="nav-main-item">
    <a class="nav-main-link" href="/entitylistuser">
        <span class="nav-main-link-name">{{.Messages.GetString "layout.page.nav.admin.user"}}</span>
    </a>
</li>

    <!-- END Entity Navigation -->
</ul>
{{end}}