{{define "t_content"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<!-- Your Block -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title text-primary">{{.Messages.GetString "form.user.list.header"}}</h3>
    </div>
    <div class="block-content block-content-full font-size-sm">
        <div class="float-right mb-2">
            <button type="button" class="btn btn-outline-primary gk-btn-new" data-toggle="modal"
                data-target="#userEditModal">{{.Messages.GetString "form.user.list.buttonnew"}}</button>
        </div>
        <div class="pb-3">&nbsp;</div>
    </div>
</div>
<div class="block block-rounded">
    <div class="block-content font-size-sm">
        <table class="table table-hover table-sm table-bordered table-striped gk-table js-dataTable-simple dataTable"
            id="userTable">
            <thead>
                <tr>
                    <th scope="col">{{.Messages.GetString "form.user.list.name"}}</th>
                    <th scope="col">{{.Messages.GetString "form.user.list.pass"}}</th>
                    <th scope="col">{{.Messages.GetString "form.user.list.email"}}</th>
                    <th scope="col">{{.Messages.GetString "form.user.list.role"}}</th>
                    <th scope="col" class="w-5">{{.Messages.GetString "form.all.label.actions"}}</th>
                </tr>
            </thead>
            <tbody>
                {{range .Entities}}
                <tr data-entityid="{{.ID}}">
                    <td data-gkvval="{{.Name}}">{{.Name}}</td>
                    <td data-gkvval="{{.Pass}}">********</td>
                    <td data-gkvval="{{.Email}}">{{.Email}}</td>
                    <td data-gkvval="{{.Role.Val}}">{{.Role.Desc}}</td>
                    <td class="">
                        {{if $userIsAdmin}}
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-sm btn-alt-primary gk-btn-edit" data-toggle="modal"
                                data-target="#userEditModal">
                                <i class="fa fa-fw fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-alt-primary gk-btn-delete" data-toggle="modal"
                                data-target="#confirmDeleteModal">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                        </div>
                        {{else}}
                        <div class="d-none">
                            &nbsp;
                        </div>
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
<!-- END Your Block -->
<!-- Page Content -->
<script>
    //create GKTable without inline editing
    var userTable = new GKEntityTable("user");
</script>

<!-- user-edit -->
{{template "t_user-edit" .}}
{{template "t_confirm-delete" .}}

{{end}}