{{define "t_content"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<!-- Your Block -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title text-primary">{{.Messages.GetString "form.consumptiongroup.list.header"}}</h3>
    </div>
    <div class="block-content block-content-full font-size-sm">
        <div class="float-right">
            <button type="button" class="btn btn-outline-primary gk-btn-new" data-toggle="modal"
                data-target="#consumptiongroupEditModal">{{.Messages.GetString "form.consumptiongroup.list.buttonnew"}}</button>
        </div>
        <form action="be_forms_input_groups.html" method="POST" onsubmit="return false;">
            <div class="form-inline font-size-sm">
                <div class="input-group font-size-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-size-sm bg-grey-light">
                            Kunde
                        </span>
                    </div>
                    <select name="consumptiongroupFilterCustomer" class="form-control font-size-sm bg-info-light"
                        id="consumptiongroupFilterCustomer" value=""
                        onchange="return activeGKEntityTable.applyColFilter(0, this.value);">
                    </select>
                </div>
                <div>&nbsp;&nbsp;</div>
                <div class="input-group font-size-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-size-sm bg-grey-light">
                            Energietyp
                        </span>
                    </div>
                    <select name="consumptiongroupFilterType" class="form-control font-size-sm bg-info-light"
                        id="consumptiongroupFilterType" value="0"
                        onchange="return activeGKEntityTable.applyColFilter(1, this.value);">
                        <option value="0">{{.Messages.GetString "form.all.option.all"}}</option>
                        <option value="1">{{ ( index .EnergyTypes 1).Desc }}</option>
                        <option value="2">{{ ( index .EnergyTypes 2).Desc }}</option>
                        <option value="3">{{ ( index .EnergyTypes 3).Desc }}</option>
                        <option value="4">{{ ( index .EnergyTypes 4).Desc }}</option>
                        <option value="5">{{ ( index .EnergyTypes 5).Desc }}</option>
                        <option value="6">{{ ( index .EnergyTypes 6).Desc }}</option>
                        <option value="7">{{ ( index .EnergyTypes 7).Desc }}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="block block-rounded">
    <div class="block-content font-size-sm">
    <table class="table gk-table table-sm js-table-sections table-bordered"
        id="consumptiongroupTable">
        <thead>
            <tr>
                <th style="width: 30px;">&nbsp;
                    <!--i class="fa fa-angle-right text-muted"></i-->
                </th>
                <th scope="col">{{.Messages.GetString "form.consumptiongroup.list.customer"}}</th>
                <th scope="col">{{.Messages.GetString "form.consumptiongroup.list.energytype"}}</th>
                <th scope="col">{{.Messages.GetString "form.consumptiongroup.list.name"}}</th>
                <th scope="col">{{.Messages.GetString "form.consumptiongroup.list.desc"}}</th>
                <th scope="col" class="w-8">{{.Messages.GetString "form.all.label.actions"}}</th>
            </tr>
        </thead>
        {{range .Entities}}
        {{$countMappings := len .EnergyMeterMappings}}
        {{$classSectionsOn := ""}}
        {{if $countMappings}}
        {{$classSectionsOn = "js-table-sections-header"}}
        {{end}}
        {{$parentID := .ID}}
        <tbody class="{{$classSectionsOn}}">
            <tr data-entityid="{{.ID}}">
                <td class="text-center font-size-sm">
                    {{if $countMappings}}
                    <i class="fa fa-angle-right text-muted"></i>
                    {{end}}
                </td>
                <td data-gkvval="{{.Customer.ID}}" class="font-size-sm">{{.Customer.Short}}</td>
                <td data-gkvval="{{.EnergyType.Val}}" class="font-size-sm">{{.EnergyType.Desc}}</td>
                <td data-gkvval="{{.ID}}" class="font-size-sm">{{.Name}}</td>
                <td data-gkvval="{{.Desc}}" class="font-size-sm">{{.Desc}}</td>
                <td class="font-size-sm">
                    {{if $userIsAdmin}}
                    <div class="btn-group-sm">
                        <button type="button" class="btn btn-sm btn-alt-primary gk-btn-edit" data-toggle="modal"
                            data-target="#consumptiongroupEditModal">
                            <i class="fa fa-fw fa-pencil-alt"></i>
                        </button>
                        {{if not $countMappings}}
                        <button type="button" class="btn btn-sm btn-alt-primary gk-btn-delete" data-toggle="modal"
                            data-target="#confirmDeleteModal">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                        {{end}}
                        <button type="button" class="btn btn-sm btn-alt-primary gk-btn-new-embedded" data-toggle="modal"
                            data-target="#energymetermappingEditModal">
                            <i class="fa fa-fw fa-tachometer-alt"></i>
                        </button>
                    </div>
                    {{else}}
                    <div class="d-none">
                        &nbsp;
                    </div>
                    {{end}}
                </td>
            </tr>
        </tbody>
        {{if $countMappings}}
        <tbody class="font-size-sm">
            <tr class="gk-row-section">
                <td colspan="6">
                    <div>Zugeordnete Energiezähler:</div>
                    <table class="table table-bordered table-striped">
                        {{range .EnergyMeterMappings}}
                        {{$textColor := "text-info"}}
                        {{$icon := "fa-plus-circle"}}
                        {{if lt .Factor 0}}
                        {{$textColor = "text-danger"}}
                        {{$icon = "fa-minus-circle"}}
                        {{end}}
                        <tr class="gk-row-section {{$textColor}}" data-entityidembedded="{{.ID}}">
                            <td data-gkvval="" class="font-w600 font-size-sm">{{.EnergyMeter.Name}}</td>
                            <td data-gkvval="" class="font-w600 font-size-sm">{{.EnergyMeter.Desc}}</td>
                            <td data-gkvval="" class="font-w600 font-size-sm">{{.EnergyMeter.Meter.ZNR}}</td>
                            <td class="font-w600 font-size-sm" colspan="2">
                                <!--span class="wp-100">{{.Factor}}%</span-->
                                <i id="signicon" class="fa {{$icon}}"></i>
                            </td>
                            <td class="font-size-sm">
                                <div class="btn-group-sm">
                                    <button type="button" class="btn btn-sm btn-alt-primary gk-btn-delete-embedded" data-toggle="modal"
                                    data-target="#confirmDeleteEmbeddedModal">
                                    <i class="fa fa-fw fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </table>
                 </td>
            </tr>
        </tbody>
        {{end}}
        {{end}}
    </table>
</div>
</div>
<!-- END Your Block -->
<!-- Page Content -->
<script>
    //create GKTable without inline editing
    var myGKTable = new GKEntityTable("consumptiongroup", "energymetermapping");
    myGKTable.prepareEntitySelect("customer", "consumptiongroupFilterCustomer", "0", new Option("Alle", "0"));
    myGKTable.initColFilter(0, 0, "0");
    myGKTable.initColFilter(1, 1, "0");

    activeGKEntityTable.onChangeRowDataEmbedded = function (entityId, rowData) {
        const $rowEmbedded = $("tr.gk-row-section[data-entityidembedded=" + entityId +"]");
        var factor = rowData[3];
        var textColor = "text-info";
        var icon = "fa-plus-circle";
        if (factor < 0) {
            textColor = "text-danger";
            icon = "fa-minus-circle";
        }

        $rowEmbedded.attr("class", "gk-row-section " + textColor);
        $rowEmbedded.find("i#signicon").attr("class", "fa " + icon);
    };

</script>

<!-- user-edit -->
{{template "t_energymetermapping-edit-embedded" .}}
{{template "t_consumptiongroup-edit" .}}
{{template "t_confirm-delete" .}}
{{template "t_confirm-delete-embedded" .}}

{{end}}