{{define "t_contact-edit"}}
{{$headerEdit := .Messages.GetString "form.contact.edit.header"}}
{{$headerNew := .Messages.GetString "form.contact.edit.headernew"}}
<!-- Modal Dialog-->
<div class="modal fade" id="contactEditModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="contactEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactEditModalLabel"></h5>
                <div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
                    <div class="toast-header">
                        <span class="gk-toast-text">Toast Text</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="contactEditOrgType" class="col-form-label">{{.Messages.GetString "form.contact.edit.label.orgtype"}}</label>
                    <select name="contactEditOrgType" class="form-control" id="contactEditOrgType" value="" >
                        <option value="0">{{ ( index .OrgTypes 0).Desc }}</option>
                        <option value="1">{{ ( index .OrgTypes 1).Desc }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contactEditName"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.name"}}</label>
                    <input name="contactEditName" class="form-control" id="contactEditName" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditNameExt"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.nameext"}}</label>
                    <input name="contactEditNameExt" class="form-control" id="contactEditNameExt" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditCustomerNr"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.customernr"}}</label>
                    <input name="contactEditCustomerNr" class="form-control" id="contactEditCustomerNr" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditCustomerType"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.customertype"}}</label>
                        <select name="contactEditCustomerType" class="form-control" id="contactEditCustomerType" value="" >
                            <option value="0">{{ ( index .CustomerTypes 0).Desc }}</option>
                            <option value="1">{{ ( index .CustomerTypes 1).Desc }}</option>
                            <option value="2">{{ ( index .CustomerTypes 2).Desc }}</option>
                            <option value="3">{{ ( index .CustomerTypes 3).Desc }}</option>
                            <option value="4">{{ ( index .CustomerTypes 4).Desc }}</option>
                        </select>
                   </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn gks-btn btn-back-app"
                    data-dismiss="modal">{{.Messages.GetString "form.all.btn.abort"}}</button>
                <button type="button"
                    class="btn gks-btn gks-btn-important btn-save-app">{{.Messages.GetString "form.all.btn.save"}}</button>
            </div>
        </div>
    </div>
</div>
<script>
    function modalShowMessage(msg) {
        const $toast = $("#contactEditModal .toast");
        $toast.find("span.gk-toast-text").text(msg);
        $toast.toast("show");
    };

    $('#contactEditModal').on('show.bs.modal', function (event) {
        var trigger = $(event.relatedTarget); // Link that triggered the modal
        var objId = trigger.data("gkvobjid") // the object id of the row that triggered this modal
        activeGKTable.setRowObjId(objId);
        var isEditNew = $(trigger).hasClass("gks-edit-new");
        activeGKTable.setEditNew(isEditNew)
        var data = []
        $("#contactEditCustomerNr").prop("readonly", true);
        if (isEditNew) {
            $("#contactEditModalLabel").html("{{$headerNew}}");
            data[0] = "";
            data[1] = "";
            data[2] = "";
            data[3] = "";
            data[4] = "";
        }
        else {
            $("#contactEditModalLabel").html("{{$headerEdit}}")
            var theRow = activeGKTable.getRowFromParent(trigger);
            data = activeGKTable.getRowDataHidden(theRow);
            activeGKTable.selectRow(theRow)
        }
        $("#contactEditOrgType").val(data[0]);
        $("#contactEditName").val(data[1]);
        $("#contactEditNameExt").val(data[2]);
        $("#contactEditCustomerNr").val(data[3]);
        $("#contactEditCustomerType").val(data[4]);
    });

    $('.btn-save-app').click(function () {
        var url = "/entityeditcontact";
        if (activeGKTable.isEditNew()) {
            url = "/entitynewcontact"
        }
        var vObjId = activeGKTable.getRowObjId();
        var vOrgType = $("#contactEditOrgType").val();
        var vName = $("#contactEditName").val();
        var vNameExt = $("#contactEditNameExt").val();
        var vCustomerNr = $("#contactEditCustomerNr").val();
        var vCustomerType = $("#contactEditCustomerType").val();

        var posting = $.post(url, { gkvObjId: vObjId, gkvOrgType: vOrgType, gkvName: vName, gkvNameExt: vNameExt, gkvCustomerNr: vCustomerNr, gkvCustomerType: vCustomerType });

        posting.done(function (data) {
            var isError = data.IsError
            if (isError) {
                modalShowMessage(data.Message)
            }
            else {
                if (activeGKTable.isEditNew()) {
                    activeGKTable.handleNew();
                }
                var rowData = []
                rowDataHidden = []
                rowDataHidden.push(data.EntityObject.OrgType, data.EntityObject.Name, data.EntityObject.NameExt, data.EntityObject.CustomerNr, data.EntityObject.CustomerType)
                var OrgTypeName = webskeleton_T_OrgTypes[data.EntityObject.OrgType]
                var CustomerTypeName = webskeleton_T_CustomerTypes[data.EntityObject.CustomerType]
                rowData.push(OrgTypeName, data.EntityObject.Name, data.EntityObject.NameExt, data.EntityObject.CustomerNr, CustomerTypeName)
                var theRow = activeGKTable.getSelectedRow()
                activeGKTable.changeRowDataHidden(theRow, rowDataHidden)
                activeGKTable.changeRowData(theRow, rowData)
                activeGKTable.setPersisted(theRow);
                modalShowMessage(data.Message)
            }
        });

        posting.fail(function (xhr, status, error) {
            modalShowMessage(data.Message)('{{.Messages.GetString "msg.error.ajax"}}' + xhr.status + ':' + xhr.statusText)
        });
    });

</script>
{{end}}