{{define "t_contact-edit"}}
{{$userIsAdmin := .Admin}}
{{$headerEdit := .Messages.GetString "form.contact.edit.header"}}
{{$headerNew := .Messages.GetString "form.contact.edit.headernew"}}
<!-- Modal Dialog-->
<div class="modal fade" id="contactEditModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="contactEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactEditModalLabel"></h5>
                <div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000"
                    data-tableId="userTable">
                    <div class="toast-header">
                        <span class="gk-toast-text">Toast Text</span>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="contactEditName"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.orgtype"}}</label>
                    <input name="contactEditOrgType" class="form-control" id="contactEditOrgType" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditName"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.name"}}</label>
                    <input type="password" name="contactEditName" class="form-control" id="contactEditName" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditNameExt"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.nameext"}}</label>
                    <input name="contactEditNameExt" class="form-control" id="contactEditNameExt" value=""
                        autocomplete="new-password" />
                </div>
                <div class="form-group">
                    <label for="contactEditCustomerNr"
                        class="col-form-label">{{.Messages.GetString "form.contact.edit.label.customernr"}}</label>
                    <input name="contactEditCustomerNr" class="form-control" id="contactEditCustomerNr" value=""
                        autocomplete="new-password" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn gks-btn btn-back-app"
                    data-dismiss="modal">{{.Messages.GetString "form.all.btn.abort"}}</button>
                <button type="button"
                    class="btn gks-btn gks-btn-important btn-save-app">{{.Messages.GetString "form.all.btn.save"}}</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#contactEditModal').on('show.bs.modal', function (event) {
        var trigger = $(event.relatedTarget); // Link that triggered the modal
        var isEditNew = $(trigger).hasClass("gks-edit-new");
        userTable.setEditNew(isEditNew)
        var data = []
        if (isEditNew) {
            $("#contactEditModalLabel").html("{{$headerNew}}");
            $("#contactEditName").prop("readonly", false);
            $("#contactEditPass").prop("readonly", false);
            data[0] = "";
            data[1] = "";
            data[2] = "";
            data[3] = "nein";
        }
        else {
            $("#contactEditModalLabel").html("{{$headerEdit}}")
            $("#contactEditName").prop("readonly", true);
            $("#contactEditPass").prop("readonly", true);
            var theRow = userTable.getRowFromParent(trigger);
            data = userTable.getRowData(theRow);
            userTable.selectRow(theRow)
        }
        $("#contactEditName").val(data[0]);
        $("#contactEditPass").val(data[1]);
        $("#contactEditEmail").val(data[2]);
        var adminData = data[3];
        if (adminData.trim() == "ja") {
            $("#contactEditAdmin").prop("checked", true);
        }
        else {
            $("#contactEditAdmin").prop("checked", false);
        }
    });

    $('.btn-save-app').click(function () {
        var url = "/entityedituser";
        if (userTable.isEditNew()) {
            url = "/entitynewuser"
        }
        var vName = $("#contactEditName").val()
        var vPass = $("#contactEditPass").val()
        var vEmail = $("#contactEditEmail").val()
        var vAdmin = $("#contactEditAdmin").prop("checked")

        var posting = $.post(url, { gkvName: vName, gkvPass: vPass, gkvEmail: vEmail, gkvAdmin: vAdmin });

        posting.done(function (data) {
            var isError = data.IsError
            if (isError) {
                userTable.showMessage(data.Message)
            }
            else {
                if (userTable.isEditNew()) {
                    userTable.handleNew();
                }
                var rowData = []
                rowData.push(data.Name, "********", data.Email, (data.Admin ? '{{.Messages.GetString "ckbox.true"}}' : '{{.Messages.GetString "ckbox.false"}}'))
                var theRow = userTable.getSelectedRow()
                userTable.changeRowData(theRow, rowData)
                userTable.setPersisted(theRow);
                userTable.showMessage(data.Message)
            }
        });

        posting.fail(function (xhr, status, error) {
            userTable.showMessage('{{.Messages.GetString "msg.error.ajax"}}' + xhr.status + ':' + xhr.statusText)
        });
    });

</script>
{{end}}