{{define "t_menu"}}
{{/* needs VersionInfo */}}
<nav class="navbar navbar-light gks-bg-light">
    <span class="navbar-brand mb-0 h1">&nbsp;</span>
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">{{.UserID}}</a>
            <div class="dropdown-menu gks-dropdown-right">
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>
    </ul>
</nav>


{{end}}