{{define "t_content"}}
{{$userIsAdmin := .Admin}}
{{$yes := .Messages.GetString "ckbox.true"}}
{{$no := .Messages.GetString "ckbox.false"}}

<!-- Your Block -->
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title text-primary">{{.Messages.GetString "form.{{entity}}.list.header"}}</h3>
    </div>
    <div class="block-content block-content-full font-size-sm">
        <div class="float-right mb-2">
            <button type="button" class="btn btn-outline-primary gk-btn-new" data-toggle="modal"
                data-target="#{{entity}}EditModal">{{.Messages.GetString "form.{{entity}}.list.buttonnew"}}</button>
        </div>
        <div class="pb-3">&nbsp;</div>
    </div>
</div>
<div class="block block-rounded">
    <div class="block-content font-size-sm">
        <table class="table table-hover table-bordered table-sm table-striped gk-table" id="{{entity}}Table">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.energytype"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.name"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.desc"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.znr"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.constant"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.from"}}</th>
                    <th scope="col">{{.Messages.GetString "form.{{entity}}.list.to"}}</th>
                    <th scope="col">{{.Messages.GetString "form.all.label.actions"}}</th>
                </tr>
            </thead>
            {{range .Entities}}
            <tbody>
                <tr>
                    <td class="text-center">
                        {{if $countMappings}}
                        <i class="fa fa-angle-right text-muted"></i>
                        {{end}}
                    </td>
                    <td data-gkvval="{{.EnergyType.Val}}">{{.EnergyType.Desc}}</td>
                    <td data-gkvval="{{.Name}}">{{.Name}}</td>
                    <td data-gkvval="{{.Desc}}">{{.Desc}}</td>
                    <td data-gkvval="{{.Meter.ID}}">{{.Meter.ZNR}}</td>
                    <td data-gkvval="{{.Constant}}">{{.Constant}}</td>
                    <td data-gkvval="{{.DayFrom}}">{{.DayFrom}}</td>
                    <td data-gkvval="{{.DayTo}}">{{.DayTo}}</td>
                    <td class="">
                        {{if $userIsAdmin}}
                        <div class="btn-group-sm">
                            <button type="button" class="btn btn-sm btn-alt-primary" data-toggle="modal"
                                data-target="#{{entity}}EditModal" data-gkvobjid="{{.ID}}">
                                <i class="fa fa-fw fa-pencil-alt"></i>
                            </button>
                            {{if not $countMappings}}
                            <button type="button" class="btn btn-sm btn-alt-primary" data-toggle="modal"
                                data-target="#confirmDeleteModal" data-cfdurl="/entitydelete{{entity}}"
                                data-gkvobjid="{{.ID}}">
                                <i class="fa fa-fw fa-times"></i>
                            </button>
                            {{end}}
                        </div>
                        {{else}}
                        <div class="d-none">
                            &nbsp;
                        </div>
                        {{end}}
                    </td>
                </tr>
            </tbody>
            {{end}}
        </table>
    </div>
</div>
<!-- END Your Block -->
<!-- Page Content -->
<script>
    //create GKTable without inline editing
    var userTable = new GKEntityTable("{{entity}}Table");
</script>

<!-- user-edit -->
{{template "t_{{entity}}-edit" .}}
{{template "t_confirm-delete" .}}

{{end}}