{{define "t_pageconsumptionmonthmeter"}}
{{$userIsAdmin := .Admin}}
{{$headerEdit := .Messages.GetString "form.energymetermapping.edit.header"}}
{{$headerNew := .Messages.GetString "form.energymetermapping.edit.headernew"}}
<!-- Modal Dialog-->
<div class="modal fade" id="pageconsumptionmonthMeterModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="energymetermappingEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary">
                    <h3 class="block-title" id="energymetermappingEditModalLabel">Modal Title</h3>
                    <div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="3000" data-tableId="consumptiongroupTable">
                        <div class="toast-header">
                            <span class="gk-toast-text">Toast Text</span>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content font-size-sm">
                    <div class="form-group">
                        <label for="energymetermappingEditConsumptionGroup" 
                            class="col-form-label">{{.Messages.GetString "form.energymetermapping.edit.label.consumptiongroup"}}</label>
                        <input name="energymetermappingEditConsumptionGroup" class="form-control" id="energymetermappingEditConsumptionGroup" value="" autocomplete="new-password"/>
                        <input type="hidden" id="energymetermappingEditEnergyTypeHidden"/>
                        <input type="hidden" id="energymetermappingEditConsumptionGroupHidden"/>
                    </div>
                    <div class="form-group">
                        <label for="energymetermappingEditEnergyMeter" 
                            class="col-form-label">{{.Messages.GetString "form.energymetermapping.edit.label.energymeter"}}</label>
                        <select name="energymetermappingEditEnergyMeter" class="form-control" id="energymetermappingEditEnergyMeter" value="">
                        </select>
                    </div>
                   <!--div class="form-group">
                        <label for="energymetermappingEditFactor"
                            class="col-form-label">{{.Messages.GetString "form.energymetermapping.edit.label.Factor"}}</label>
                        <input name="energymetermappingEditFactor" class="form-control" id="energymetermappingEditFactor"
                            value="" autocomplete="new-password" />
                    </div-->
                    <div class="form-group">
                        <label for="energymetermappingEditSign" 
                            class="col-form-label">{{.Messages.GetString "form.energymetermapping.edit.label.sign"}}</label>
                        <select name="energymetermappingEditSign" class="form-control" id="energymetermappingEditSign" value="+">
                            <option value="+" selected>Plus</option>
                            <option value="-" >Minus</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="energymetermappingEditFrom" 
                            class="col-form-label">{{.Messages.GetString "form.energymetermapping.edit.label.from"}}</label>
                            <input name="energymetermappingEditFrom" class="form-control" id="energymetermappingEditFrom" value="" autocomplete="new-password"/>
                    </div>
                </div>
                <div class="block-content block-content-full text-right border-top">
                    <button type="button" class="btn btn-sm btn-light btn-back-app"
                        data-dismiss="modal">{{.Messages.GetString "form.all.btn.abort"}}</button>
                    <button type="button" class="btn btn-sm btn-primary btn-save-app">
                        <i class="fa fa-check mr-1"></i>{{.Messages.GetString "form.all.btn.save"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    activeGKEntityTable.prepareEmbeddedDialog = function () {
        $("#energymetermappingEditModalLabel").html("{{$headerNew}}");
        $("#energymetermappingEditConsumptionGroup").prop("disabled", true);

        $("#energymetermappingEditConsumptionGroup").val(activeGKEntityTable.editRowData[2]);
        var energyType = activeGKEntityTable.editRowDataHidden[1];
        $("#energymetermappingEditEnergyTypeHidden").val(energyType);
        $("#energymetermappingEditConsumptionGroupHidden").val(activeGKEntityTable.editRowDataHidden[2]);
        $("#energymetermappingEditEnergyMeter").val("");
        $("#energymetermappingEditFactor").val("100");
        $("#energymetermappingEditSign").val("+");
        $("#energymetermappingEditFrom").val("2019-01-01");

        activeGKEntityTable.prepareEntitySelectFiltered(energyType, "energymeter", "energymetermappingEditEnergyMeter", 0)
    };
    activeGKEntityTable.prepareSendRowDataEmbedded = function () {
        // var vFactor = $("#energymetermappingEditFactor").val()
        var vFactor = 100;
        var vSign = $("#energymetermappingEditSign").val()
        if (vSign == "-") {
            vFactor = vFactor * (-1);
        }

        var sendParams = [];
        sendParams["gkvObjId"] = activeGKEntityTable.getEditRowKey();
        sendParams["gkvConsumptionGroupID"] = $("#energymetermappingEditConsumptionGroupHidden").val();
        sendParams["gkvEnergyMeterID"] = $("#energymetermappingEditEnergyMeter").val();
        sendParams["gkvFactor"] = vFactor;
        sendParams["gkvEmmFrom"] = $("#energymetermappingEditFrom").val();

        return sendParams;
    };
    activeGKEntityTable.getRowDataFromEntityEmbedded = function (data) {
        var rowData = [];
        var EnergyTypeName = bepo_T_EnergyTypes[data.EntityObject.EnergyType]
        rowData.push(data.EntityObject.EnergyMeter.Name, data.EntityObject.EnergyMeter.Desc, data.EntityObject.EnergyMeter.ZNR, data.EntityObject.Factor)
        return rowData;
    };
    activeGKEntityTable.getRowDataHiddenFromEntityEmbedded = function (data) {
        var rowDataHidden = [];
        rowDataHidden.push(data.EntityObject.ID, data.EntityObject.EnergyMeter.Desc, data.EntityObject.EnergyMeter.ZNR, data.EntityObject.Factor)
        return rowDataHidden;
    };

    //load entities when page is first loaded
    activeGKEntityTable.prepareEntitySelect("energymeter", "energymetermappingEditEnergyMeter", 0)
</script>
{{end}}