{{define "t_{{entity}}-edit"}}
{{$userIsAdmin := .Admin}}
{{$headerEdit := .Messages.GetString "form.{{entity}}.edit.header"}}
{{$headerNew := .Messages.GetString "form.{{entity}}.edit.headernew"}}
<!-- Modal Dialog-->
<div class="modal fade" id="{{entity}}EditModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="{{entity}}EditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary">
                    <h3 class="block-title" id="{{entity}}EditModalLabel">Modal Title</h3>
                    <div class="toast bg-warning" role="alert" aria-live="assertive" aria-atomic="true"
                        data-delay="3000" data-tableId="{{entity}}Table">
                        <div class="toast-header">
                            <span class="gk-toast-text">Toast Text</span>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content font-size-sm">
                    <div class="form-group">
                        <label for="{{entity}}EditName"
                            class="col-form-label">{{.Messages.GetString "form.{{entity}}.edit.label.name"}}</label>
                        <input name="{{entity}}EditName" class="form-control" id="{{entity}}EditName" value=""
                            autocomplete="new-password" />
                    </div>
                    <div class="form-group">
                        <label for="{{entity}}EditShort"
                            class="col-form-label">{{.Messages.GetString "form.customer.edit.label.short"}}</label>
                        <input name="{{entity}}EditShort" class="form-control" id="{{entity}}EditShort" value=""
                            autocomplete="new-password" />
                    </div>
                </div>
                <div class="block-content block-content-full text-right border-top">
                    <button type="button" class="btn btn-sm btn-light btn-back-app"
                        data-dismiss="modal">{{.Messages.GetString "form.all.btn.abort"}}</button>
                    <button type="button" class="btn btn-sm btn-primary btn-save-app">
                        <i class="fa fa-check mr-1"></i>{{.Messages.GetString "form.all.btn.save"}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    activeGKEntityTable.prepareEditDialog = function () {
        if (activeGKEntityTable.isEditNew()) {
            $("#{{entity}}EditModalLabel").html("{{$headerNew}}");
            $("#{{entity}}EditShort").prop("disabled", false);
        }
        else {
            $("#{{entity}}EditModalLabel").html("{{$headerEdit}}")
            $("#{{entity}}EditShort").prop("disabled", true);
        }
        $("#{{entity}}EditName").val(activeGKEntityTable.editRowData[0]);
        $("{{entity}}EditShort").val(activeGKEntityTable.editRowData[1]);
    };
    activeGKEntityTable.prepareSendRowData = function () {
        var sendParams = [];
        sendParams["gkvObjId"] = activeGKEntityTable.getEditRowKey();
        sendParams["gkvName"] = $("#{{entity}}EditType").val();
        sendParams["gkvShort"] = $("#{{entity}}EditZnr").val();

        return sendParams;
    };
    activeGKEntityTable.getRowDataFromEntity = function (data) {
        var rowData = [];
        rowData.push(data.EntityObject.Name, data.EntityObject.Short)
        return rowData;
    };
    activeGKEntityTable.getRowDataHiddenFromEntity = function (data) {
        var rowDataHidden = [];
        rowDataHidden.push(data.EntityObject.Name, data.EntityObject.Short);
        return rowDataHidden;
    };

</script>
{{end}}