{{define "t_content"}}
{{$userIsAdmin := .Admin}}

<!-- Page Header-->
<div class="gks-page-header">
    <span class="navbar-brand">{{.Messages.GetString "form.users.header"}}</span>
    <span class="float-right">
        <button type="button"
            class="btn gks-btn gks-btn-important">{{.Messages.GetString "form.users.button.new"}}</button>
    </span>
</div>
<!-- Page Content -->
<div class="gks-page-content">
    <table class="table table-hover gk-table" id="userTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col" >Administrator</th>
                <th scope="col" ></th>
            </tr>
        </thead>
        <tbody>
            {{range .Users}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Email}}</td>
                <td>
                    {{if .Admin}}
                    <input type="checkbox" checked="checked" disabled="disabled">
                    {{else}}
                    <input type="checkbox" disabled="disabled">
                    {{end}}
                </td>
                <td class="w-5">
                    {{if $userIsAdmin}}
                    <div class="gks-icon-box"> 
                        <svg class="gks-icon">
                            <use xlink:href="/assets/svg/gks-icons.svg#i-edit"></use>
                        </svg>
                        <svg class="gks-icon">
                            <use xlink:href="/assets/svg/gks-icons.svg#i-trash"></use>
                        </svg>
                    </div>
                    {{else}}
                    <div class="d-none">
                        &nbsp;
                    </div>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>

{{end}}