<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="data:,">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-4.3.1.min.css" crossorigin="anonymous">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- activate following line, if there is another version of jquery somewhere in the project-->
    <!--script src="assets/js/jquery-3.3.1.min.js" crossorigin="anonymous" onload="window.$ = window.jQuery;"-->
    <script src="assets/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/popper-1.14.7.min.js" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap-4.3.1.min.js" crossorigin="anonymous"></script>
    <!-- gktable JavaScript -->
    <script src="assets/js/gktable-1.1.js" crossorigin="anonymous"></script>

    <title>My cool go project</title>
</head>

<body>
    <div class="container border mt-2 p-2">
        <div class="card mb-3">
            <div class="card-header text-white bg-primary">Login</div>
            <div class="card-body">
                <form action="loginUser.html">
                    <div class="form-group">
                        <label for="exampleInputEmail1">User</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

    </div>

</body>

</html>