package genmodels

import (
	entitymodel "github.com/devgek/webskeleton/entity/model"
	"github.com/devgek/webskeleton/models"
)

type EntityFactoryCreator struct{}

func (er *EntityFactoryCreator) Create() entitymodel.EntityFactory {
	ef := entitymodel.NewDefaultEntityFactory()

	{{CreatorEntity1}}

	{{CreatorEntity2}}

	return ef
}
